{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
        <title> ChessPos - {{ title }}</title>
    {% else %}
        <title> ChessPos </title>
    {% endif %}

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>t>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link text-light" href="{% url 'ChessPos-Home' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="{% url 'Chessboard' %}">Chessboard</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="{% url 'ChessPos-About' %}">About</a></li>
            </ul>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <button class="btn btn-outline-success my-2 my-sm-0 text-light" href="#">
                Log in
            </button>
        </ul>
    </nav>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

</body>
</html>
